
<nav class="navbar navbar-expand -sm bg-primary navbar-dark">
<ul class="navbar-nav">

  <li class ="new-item">
<a routerLink="events" routerLinkActive="active" class="nav-link">Event List</a>
  </li>
  <li class ="new-item">
    <a routerLink="create-event" routerLinkActive="active" class="nav-link">Add Event</a>
      </li>
</ul>


</nav>




<div style="text-align:left">
  <h1>
    {{ title }}!
  </h1>

  <div class="controller">

    <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <samp> Ripple Hire Event </samp>

  </div>
</footer>